<template>
    <div>
        <div class="row">
            <div class="col-xs-6">
                <p>
                    Email: <code>john.doe@gmail.com</code>
                </p>
                <p>
                    Password: <code>111111</code>
                </p>
                <button type="submit" class="btn btn-outline-primary" @click="auth" v-el:auth-button v-if="!token">Auth me!</button>
            </div>
            <div class="col-xs-6">
                <div v-if="!identity">
                    <div v-if="token">
                        <p>You logged in as {{ name }}</p>
                        <button type="submit" class="btn btn-outline-primary" @click="request">Get secure data!</button>
                    </div>
                    <div class="description" v-else="">Auth to see phone and address...</div>
                </div>
                <div v-else>
                    <p>Data that we get for {{ name }}</p>
                    <table class="table">
                        <tr>
                            <td>
                                <strong>Phone:</strong>
                            </td>
                            <td>
                                {{ identity.phone }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Address:</strong>
                            </td>
                            <td>
                                {{ identity.address }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default
    {
        ready() {
            window.success = (name, token) => {
                this.token = token;
                this.name = name;
            }
        },
        data() {
            return {
                token: false,
                name: false,
                identity: false
            }
        },
        methods: {
            auth(e) {
                popupwindow('/test/login', 'Test', 800, 500);
            },
            request(e) {
                this.$http.get('/api/private', {
                    headers: {
                        'Authorization': 'Bearer ' + this.token
                    }
                }).then((successResponse) => {
                    this.identity = successResponse.data;
                }, (errorResponse) => {});
            }
        }
    }

    function popupwindow(url, title, w, h) {
        var left = screen.width / 2 - w / 2;
        var top = screen.height / 2 - h / 2;
        return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
    }
</script>