<template>
    <span class="loader" style="display: inline-block;" v-show="running" transition="fade">
        <i class="fa fa-spinner fa-pulse fa-fw" v-show="!statusClass"></i>
        <span :class="[statusClass]">{{ state }}</span>
    </span>
</template>

<script>
    let Vue = require('vue');

    Vue.transition('fade', {
        afterLeave: function (el) {
            this.afterLeaveCallback();
        }
    });

    export default
    {
        props: {
            'success': {
                type: String,
                required: true
            },
            'fail': {
                type: String,
                required: true
            },
            'progress': {
                type: String,
                required: true
            },
            'failClass': {
                type: String,
                default: 'error'
            },
            'successClass': {
                type: String,
                default: 'success'
            },
            'timeout': {
                type: Number,
                default: 3500
            }
        },
        data: function(){
            return {
                running: false,
                state: this.progress,
                statusClass: false
            };
        },
        methods: {
            show: function () {
                this.running = true;
            },
            failed: function () {
                let vm = this;

                this.state = this.fail;
                this.statusClass = this.failClass;

                setTimeout(() => {
                    vm.hide();
                }, this.timeout);
            },
            succeed: function () {
                let vm = this;

                this.state = this.success;
                this.statusClass = this.successClass;

                setTimeout(() => {
                    vm.hide();
                }, this.timeout);
            },
            hide: function() {
                this.running = false;
            },
            afterLeaveCallback: function() {
                this.state = this.progress;
                this.statusClass = false;
            }
        }
    };
</script>