<template>
    <div>
        <form v-el:form @submit="submit">
            <slot></slot>

            <button type="submit" class="btn btn-primary" :disabled="state.submitting" style="margin-right: 10px">Submit</button>
            <status v-ref:saving success="Saved!" fail="Something went wrong while saving!" progress="Saving..."></status>
        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                state: {
                    submitting: false
                },
                store: {

                }
            }
        },
        props: {
            method: {
                type: String,
                required: true,
                default: 'get'
            },
            endpoint: {
                type: String,
                required: true
            }
        },
        ready() {
            console.log('Component ready.')
        },
        methods: {
            submit(e) {
                e.preventDefault();

                if(this.$refs.saving.running) {
                    return;
                }

                let formData = new FormData(this.$els.form),
                    method = this.method;

                this.state.submitting = true;

                if(method != 'get') {
                    formData.append('_method', method);
                    method = 'post';
                }

                $(this.$els.form).find('.input-error').remove();

                this.$refs.saving.show();

                this.$http[method](this.endpoint, formData, {
                    headers: {
                        'Accept': 'application/json'
                    }
                }).then(
                        (successResponse) => {
                            console.log(successResponse);
                            this.state.submitting = false;
                            this.$refs.saving.succeed();
                            this.$emit('form-submitted');
                            this.$broadcast('form-submitted');
                        },
                        (errorResponse) => {
                            console.log(errorResponse);
                            this.setErrors(errorResponse.data);
                            this.state.submitting = false;
                            this.$refs.saving.failed();
                        }
                );
            },
            setErrors(errors) {
                for (var key in errors) {
                    if (!errors.hasOwnProperty(key)) continue;

                    $('#' + key).addClass('has-error')
                            .after('<span class="input-error error">' + errors[key].join(',') + '</span>')
                            .change(function (e) {
                                $(this).removeClass('has-error');
                                $(this).next().remove();
                                $(this).unbind('change');
                            });

                    $('#' + key).on('input', function (e) {
                                $(this).removeClass('has-error');
                                $(this).next().remove();
                                $(this).unbind('input');
                            });
                }
            }
        }
    }

</script>