<template>
    <div>
        <div class="image-preview" v-show="value">
            <img :src="value" v-el:imagePreview alt="">
        </div>
        <input type="file" v-el:image class="form-control-file" id="picture" name="picture" aria-describedby="fileHelp" @change="imageChanged">
        <small id="fileHelp" class="form-text text-muted">Your profile picture. Left empty if you don't want to change it.</small>
        <div class="clearfix"></div>
    </div>
</template>

<script>
    export default
    {
        data() {
            return {};
        },
        props: {
            name: {
                type: String,
                required: true
            },
            value: {
                type: String
            }
        },
        methods: {
            imageChanged() {
                let input = this.$els.image;

                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = (e) => {
                        this.value = e.target.result;
                    };

                    reader.readAsDataURL(input.files[0]);
                }
            }
        },
        events: {
            'form-submitted': function () {
                this.$els.image.value = null;
            }
        }
    }
</script>

<style>
    .image-preview {
        max-width: 100px;
        max-height: 100px;
        margin-bottom: 10px;
        margin-right: 10px;
        float: left;
    }

    .image-preview img {
        max-width: 100px;
        max-height: 100px;
    }
</style>