.flag-sm {
  background-image: url('../images/flags-16.png');
  display: inline-block;
  width: 24px;
  height: 16px;
  line-height: 16px;
}
.flag-sm-RU {
  background-position: -120px -224px;
}
.flag-sm-UA {
  background-position: -264px -32px;
}
.flag-md {
  background-image: url('../images/flags-47.png');
  display: inline-block;
  width: 70px;
  height: 47px;
  line-height: 47px;
}
.flag-md-RU {
  background-position: -700px -235px;
}
.flag-md-UA {
  background-position: -770px -94px;
}