@import "node_modules/bootstrap/scss/bootstrap";

.jumbotron-main {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  color: #fff;
}

.container-bottom {
  margin-bottom: 50px;
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 20px;
}
h1,h2,h3,h4,h5,h6 {
  margin-top: 10px;
}
h4 {
  margin-top: 30px;
}

.bottom-30 {
  margin-bottom: 60px;
}

.navbar-light {
  background-color: #fff;
}

pre.code {
  display: block;
  padding: 0.2rem 0.4rem;
  font-size: 90%;
  color: #bd4147;
  background-color: #f7f7f9;
  border-radius: 0.25rem;
  overflow: hidden;
  word-wrap: break-word;
}

.table.api {
  & tr > td:first-child {
    width: 240px !important;
  }
}

.comment {
  margin-bottom: 30px;

  .head {
    height: 50px;
    margin-bottom: 5px;

    img {
      margin-right: 10px;
    }

    .title {

    }

    small {
      color: #c0c0c0;
      margin-top: -3px;
      display: block;
    }
  }
}

.description {
  color: #c0c0c0;
}