$brand-primary: #ff3643;
$brand-secondary: #a49dd9;

$border-radius: 100px;
$border-radius-lg: 100px;
$border-radius-sm: 100px;

@import "node_modules/bootstrap/scss/bootstrap";

@import "./styles/utils";

@import "./styles/buttons";

@import "./styles/landing";

@import "./flags";