$sellingColor: #ff3643;

.btn-large {
  padding: 12px 24px;
}

.btn-main-call-to-action {
  background-color: $sellingColor;
  color: #fff;
  padding: 12px 24px;
  border-radius: 100px;

  &:hover {
    background-color: darken($sellingColor, 10);
    color: #fff;
  }

  &:focus {
    color: #fff;
  }
}

span.red {
  color: $sellingColor;
}