.search-item {
  margin-bottom: 3.35em;
  width: 90%;

  .search {
    &-title {
      font-weight: bold;
      margin-bottom: .5em;
      font-size: 1.1em;
    }

    &-description {
      margin-bottom: .5em;
    }

    &-proposals {
      font-size: .85em;
      color: #8e969b;
    }
  }
}

.agents {
  margin-bottom: 3em;
  text-align: center;

  img {
    width: 80px;
    height: 80px;
    border: 3px solid #fff;
    margin-left: -15px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.bd-footer {
  padding: 4rem 0;
  margin-top: 4rem;
  font-size: 85%;
  text-align: left;
  background-color: #f7f7f7;

  a {
    font-weight: 500;
    color: #55595c;
  }
}
.text-muted {
  color: #818a91!important;
}
.bd-footer-links {
  padding-left: 0;
  margin-bottom: 1rem;
  li {
    display: inline-block;
  }

  li + li {
    margin-left: 1rem;
  }
}