.jumbotron-main {
  background: #B993D6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #B993D6 , #8CA6DB); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #B993D6 , #8CA6DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #fff;
}

.navbar-brand {
  font-weight: 900;
}

.container-top {
  margin-top: 120px;
}

.container-bottom {
  margin-bottom: 50px;

  &-light {
    margin-bottom: 30px;
  }
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 20px;
}
h1,h2,h3,h4,h5,h6 {
  margin-top: 10px;
}
h4 {
  margin-top: 30px;
}

.description {
  color: #c0c0c0;
}

.top-20 {
  margin-top: 20px;
}

.lang-link {
  transform: scale(.65);
  transform-origin: top right;

  i {
    width: 47px;
    height: 47px;
    border-radius: 30px;
  }
}

.f-head {
  font-size: 1.05em;
  margin-bottom: .35em;
}
.detailed {
  font-size: .9em;
  color: #575c5f;
}

.row-border-top {
  border-top: 1px solid #eef1f3;
  padding-top: 1.6em;
}

.gray-container {
  border-top: 5px solid $brand-secondary;
  padding-top: 20px;

  &-p {
  }
}

.light-item {
  width: 90%;
}

.h-title {
  padding-top: 1.5em;
  padding-bottom: 1.25em;
  line-height: 1.4em;

  &-light {
    padding-top: 1.25em;
  }
}